/* -----------------------------------
	Star Wars RPG
--------------------------------------------------------------------------------------------- */


/* -----------------------------------
	Character Choices
----------------------------------- */

.character-wrapper {
    float: left;
}

.character-wrapper img {
    display: block;
}

/* -----------------------------------
	Typography
----------------------------------- */

/* -----------------------------------
	Helpers
----------------------------------- */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }