/* -----------------------------------
	Star Wars RPG
--------------------------------------------------------------------------------------------- */

/* -----------------------------------
	Layout
----------------------------------- */

section {
    margin-bottom: 40px;
    background: #EFEFEF;
    padding: 30px;
    border-radius: 10px;
}


/* -----------------------------------
	Character Choices
----------------------------------- */

.character-wrapper {
    float: left;
    text-align: center;
    border: 1px solid #CCC;
    padding: 20px;
}

.character-wrapper img {
    display: block;
}

/* -----------------------------------
	Typography
----------------------------------- */

/* -----------------------------------
	Helpers
----------------------------------- */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }